name: Build and Publish image to Docker Hub
on:
  [workflow_dispatch]

jobs:
  publish_images:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Build image
        run: |
          docker build ./api/ -t ${{ secrets.DOCKER_HUB_USERNAME }}/devops-qr-code-api:latest
          docker build ./front-end-nextjs/ -t ${{ secrets.DOCKER_HUB_USERNAME }}/devops-qr-code-frontend:latest
      - name: Push image to Docker Hub
        run: |
          docker login -u ${{ secrets.DOCKER_HUB_USERNAME }} -p ${{ secrets.DOCKER_HUB_TOKEN }}
          docker push ${{ secrets.DOCKER_HUB_USERNAME }}/devops-qr-code-api:latest
          docker push ${{ secrets.DOCKER_HUB_USERNAME }}/devops-qr-code-frontend:latest