name: Build and Publish image to Docker Hub
on:
  [workflow_dispatch]

jobs:
  publish_images:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Build image
        run: docker build ./api/ -t charissa27/devops-qr-code-api:latest
      - name: Push image to Docker Hub
        runs: |
          docker push charissa27/devops-qr-code-api:latest